<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="stylesheet" href="/css/home/login.css" />
    <script src="/js/home/index.js" defer></script>
    <title>대욱이의 웹페이지</title>
  </head>
  <body>
    <div class="login-page">
      <div class="form">
        여기는 루트입니다!
        <input id="button" type="button" value="로그인" />
      </div>
    </div>
  </body>
</html>
